@import "tailwindcss";

@theme {
  --color-primary-100:#FFD700;
  --color-primary-200:#ddb900;
  --color-primary-300:#917800;
  --color-accent-100:#c49216;
  --color-accent-200:#5e3b00;
  --color-text-100:#dcdcdc;
  --color-text-200:#929292;
  --color-bg-100:#1E1E1E;
  --color-bg-200:#2d2d2d;
  --color-bg-300:#454545;
}